Package: com.user.autoonlinewallpaper
Name: AutoOnlineWallpaper
Version: 1.0
Architecture: iphoneos-arm64
Description: 自动在线壁纸插件
Maintainer: user
Author: user
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
